<article class="row">
	<h1>Welcome to Base App Tutorial for PHPfox</h1>
	<p>
		We take an in-depth look into how to work with many aspects of creating an app with PHPfox using this app as a live example.
	</p>
	<p>
		The source code is fully documented to explain what a file does to make it easier to understand how internal and external apps work.
	</p>
	<p>
		If you have just started working with Apps, make sure to read up on how to <a href="http://support.phpfox.com/apps/getting-started/" target="_blank">get started</a>.
	</p>
	<p>
		Got any questions? Join the discussion over at our <a href="http://community.phpfox.com/forum/114/neutron-v4/" target="_blank">community</a>.
	</p>
</article>